<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913872346580-0016rr62047v6bnvri8kt56972e6kd83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913872346580-0016rr62047v6bnvri8kt56972e6kd83</string>
	<key>API_KEY</key>
	<string>AIzaSyCK3HpKPhnhRIdZkzNLaQoJks2wSJ77Sog</string>
	<key>GCM_SENDER_ID</key>
	<string>913872346580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-eab3d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-eab3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913872346580:ios:a2ea3bec121e58a3058a41</string>
</dict>
</plist>